---
import { Button } from '@hachiko-labs/ui-components';

import HeroTitle from '@components/HeroTitle.astro';
import { AngularLogo } from '@logos/Angular';
import { AstroLogo } from '@logos/Astro';
import { NextJSLogo } from '@logos/NextJS';
import { NodeJSLogo } from '@logos/NodeJS';
import { ReactLogo } from '@logos/React';
import { SvelteLogo } from '@logos/Svelte';

const logos = [
  { SVG: NextJSLogo },
  { SVG: NodeJSLogo },
  { SVG: ReactLogo },
  { SVG: AstroLogo },
  { SVG: AngularLogo },
  { SVG: SvelteLogo },
];
---

<section class="w-screen flex items-center justify-center text-center pb-12">
  <div class="w-full md:w-[800px] xl:w-[900px] flex flex-col justify-center items-center pt-52 px-4 md:px-8">
    <HeroTitle>
      <span class="inline">Take Your</span>
      <span class="inline text-transparent bg-clip-text bg-gradient-to-r from-primary-active to-secondary-color3 to-70%">Engineering</span>
      <span class="inline">Career to the Next Level</span>
    </HeroTitle>
    <div class="text-neutral-500 text-lg lg:text-xl xl:text-2xl sm:text-lg mt-6 px-9 md:px-20 lg:px-24 xl:px-44">
      We offer exciting opportunities to work on cutting-edge projects with top-tier US startups
    </div>
    <div class="flex flex-col sm:flex-row mt-14 mb-16 sm:mb-12 justify-center">
      <Button client:visible type="primary" id="apply-now">Join the waitlist</Button>
    </div>
    <div class="flex flex-wrap flex-col items-center gap-y-6 px-4 mb-16 sm:mb-28">
      <div class="text-neutral-500 text-lg lg:text-xl xl:text-2xl sm:text-lg mt-6 px-9 md:px-20 lg:px-24 xl:px-44">
        Working with great technologies
      </div>
      <div class="flex flex-wrap items-center justify-center gap-x-14 gap-y-6">
        {logos.map(({ SVG }) => (
          <SVG className="h-10 sm:h-10/2 object-contain" />
        ))}
      </div>
    </div>
    <div class="text-neutral-500 text-base lg:text-lg xl:text-xl sm:text-base flex flex-col items-center">
      How it works
      <div class="w-[1px] h-36 mt-1 bg-gradient-to-b from-white from-0% via-neutral to-primary-active to-100%" />
      <div class="w-[35px] h-[35px] flex items-center justify-center rounded-full bg-gradient-to-l from-neutral to-primary-active">
        <span class="text-white">1</span>
      </div>
    </div>
  </div>
</section>

<script type="module">
  const handleOnClick = () => {
    console.log('Hello World');
  }

  const applyNowButton = document.getElementById('apply-now');
  applyNowButton.addEventListener('click', handleOnClick);
</script>
