---
import HeroTitle from "@components/HeroTitle.astro";

---

<section class="w-full mb-8 sm:mb-16 xl:m pt-[2rem]  md:pt-[12vw] lg:pt-0">
  <div class="text-center mx-auto md:w-[800px] xl:w-[900px] flex flex-col justify-center items-center px-4 md:px-8">
    <HeroTitle>
      Unlock a new level of job search, with a <span class="text-primary">personalized</span> approach.
    </HeroTitle>
    <div class="text-neutral-500 text-lg lg:text-xl xl:text-2xl sm:text-lg mt-6">
      We understand that your are more than just your CV. We help you create a profile that truly represents you - your qualities, career goals and values.
    </div>
  </div>
</section>