---
import GradientText from "@components/GradientText.astro";
import MaterialIcon from "@components/MaterialIcon.astro";
import Title from "@components/Title.astro";

const { default: Email } = await import("@images/svgs/email.svg?raw");
---

<section
  class="w-full text-center flex flex-col items-center mb-8 sm:mb-16 xl:m pt-[2rem] md:pt-[12vw] lg:pt-0 px-12"
>
  <div
    class="text-center mx-auto md:w-[600px] xl:w-[700px] flex flex-col justify-center items-center"
  >
    <Title>
      All you need to
      <GradientText
        fromColor="from-secondary-color3"
        toColor="to-warning-400"
        text="hire"
      /> and <GradientText
        fromColor="from-secondary-color3"
        toColor="to-warning-400"
        text="manage"
      /> your team
    </Title>
    <div
      class="text-neutral-500 text-lg lg:text-xl xl:text-2xl sm:text-lg mt-6"
    >
      Hachiko offers a seamless onboarding experience, allowing you to quickly
      get started with your new team member. You maintain direct management on a
      daily basis, while we take care of automating remote work complexities
      like international contractor payments, time-tracking, invoicing, and
      performance monitoring
    </div>
  </div>
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-8 mx-auto md:w-[600px] xl:w-[700px] py-12"
  >
    <div class="w-2/3 lg:w-full flex flex-col gap-4 text-left mx-auto">
      <MaterialIcon size={40} icon="account-search" />
      <span class="text-xl md:text-xl font-bold text-neutral">
        Hands-on recruiting
      </span>
      <p class="text-neutral-500 text-base md:text-sm">
        You'll earn above average salaries, paid on a monthly basis, always in
        USD.
      </p>
    </div>
    <div class="w-2/3 lg:w-full flex flex-col gap-4 text-left mx-auto">
      <MaterialIcon size={40} icon="rocket" />
      <span class="text-xl md:text-xl font-bold text-neutral">
        Hiring & Onboarding
      </span>
      <p class="text-neutral-500 text-base md:text-sm">
        Say goodbye to delays and paperwork, and embrace the ease of receiving
        regular payments that help you stay financially empowered
      </p>
    </div>
    <div class="w-2/3 lg:w-full flex flex-col gap-4 text-left mx-auto">
      <MaterialIcon size={40} icon="cash-fast" />
      <span class="text-xl md:text-xl font-bold text-neutral">
        Payroll management
      </span>
      <p class="text-neutral-500 text-base md:text-sm">
        Say goodbye to delays and paperwork, and embrace the ease of receiving
        regular payments that help you stay financially empowered
      </p>
    </div>
    <div class="w-2/3 lg:w-full flex flex-col gap-4 text-left mx-auto">
      <MaterialIcon size={40} icon="calendar-month-outline" />
      <span class="text-xl md:text-xl font-bold text-neutral">
        Talent management
      </span>
      <p class="text-neutral-500 text-base md:text-sm">
        Say goodbye to delays and paperwork, and embrace the ease of receiving
        regular payments that help you stay financially empowered
      </p>
    </div>
  </div>
</section>
