---
export interface Props {
  text: string;
  fromColor: string;
  toColor: string;
  class?: string;
}

const { text, fromColor, toColor, class: className } = Astro.props;
---

<span
  class={`inline text-transparent bg-clip-text bg-gradient-to-l ${fromColor} ${toColor} to-70% ${className}`}
>
  {text}
</span>
