---
import { Image } from '@astrojs/image/components';

type Item = {
  icon?: string;
  alt: string;
  link?: string;
};
interface Props {
  items: Item [];
  repeat?: number;
};

const { items, repeat } = Astro.props;
---

<div class="group flex overflow-hidden">
  {Array.from({ length: repeat ?? 3 }, () => (
    <div class="slider shrink-0 pr-12" data-slider>
      <ul class="flex gap-12">
        {items.map(({ icon, alt }) => (
          <li class="flex items-center justify-center">
            <Image src={icon} alt={alt} width={44} height={44} format="svg" />
          </li>
        ))}
      </ul>
    </div>
  ))}
</div>

<style is:inline>
  @keyframes slider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .slider {
    animation: slider linear infinite;
    animation-duration: 60s;
  }
</style>