---
import { Button } from "@hachiko-labs/ui-components";

import HeroTitle from "@components/HeroTitle.astro";
import GradientText from "@components/GradientText.astro";
import Steps from "@components/Steps/Steps.astro";
import { Slider } from "@components/Slider";
import TalentList from "./TalentList.astro";
---

<section class="w-screen flex items-center justify-center text-center pb-12">
  <div
    class="w-full md:w-[800px] xl:w-[900px] flex flex-col justify-center items-center pt-52 px-4 md:px-8"
  >
    <HeroTitle>
      <span class="inline">Unlock the</span>
      <GradientText
        text="Power"
        fromColor="from-primary-active"
        toColor="to-secondary-color3"
      />
      <span class="inline">of</span>
      <GradientText
        text="Remote"
        fromColor="from-primary-active"
        toColor="to-secondary-color3"
      />
      <span>Teams with Hachiko Labs</span>
    </HeroTitle>
    <div
      class="text-neutral-500 text-lg lg:text-xl xl:text-2xl sm:text-lg mt-6 px-9 md:px-20 lg:px-24 xl:px-44"
    >
      Hachiko helps US startups hire and retain high-performing, remote software engineers to scale faster and more competitively.
    </div>
    <div class="flex flex-col sm:flex-row mt-16 sm:mt-12 justify-center">
      <Button client:visible type="primary" id="apply-now">
        Get Started
      </Button>
    </div>
    <div
      class="flex items-end gap-4 my-16 sm:my-12"
    >
      <div class="hidden lg:flex">
        <TalentList />
      </div>
      <div class="w-[90vw] relative sm:flex md:flex lg:hidden flex-wrap items-center justify-center gap-x-14 gap-y-6 overflow-hidden">
        <Slider>
          <TalentList />
        </Slider>
      </div>
    </div>
    <div id="how-it-works">
      <Steps
        title="Explore how hachiko works"
        step="1"
        highlight="Let's Talk"
        fromColor="from-neutral"
        toColor="to-primary-active"
      />
    </div>
  </div>
</section>
