---
import { Card } from "@components/Card";
---

<div class="flex gap-4 items-end">
  <Card className="bg-neutral pt-4 h-[305px] overflow-hidden" title="Juan Rodríguez" subtitle="Backend Engineer">
    <img src="/assets/person_1.png" alt="Backend Engineer" />
  </Card>
  <Card className="bg-neutral pt-4 h-[230px] overflow-hidden" title="Camila Santos" subtitle="Frontend Engineer">
    <img src="/assets/person_2.png" alt="Frontend Engineer" />
  </Card>
  <Card className="bg-neutral pt-4 h-[230px] overflow-hidden" title="Manuel Torres" subtitle="Data Engineer">
    <img src="/assets/person_3.png" alt="Data Engineer" />
  </Card>
  <Card className="bg-neutral pt-4 h-[305px] overflow-hidden" title="Ana Morales" subtitle="UI/UX Engineer">
    <img src="/assets/person_4.png" alt="UI/UX Engineer" />
  </Card>
</div>